<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I'm an English teacher with 20 years of experience. I have taught in the United States, Canada, Brazil, Argentina, and Portugal.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I'm also a certified translator and interpreter. Contact me with your translation or interpretation needs.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>For commissions, please contact me by email 👇</p>
        <a href="mailto:drapamelaottoni@gmail.com" class="btn btn-lg btn-outline">
          <i class="fa fa-email"></i>drapamelaottoni@gmail.com
        </a>
      </div>
    </div>
  </div>
</section>
